/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App_gallery {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff00;
  width: 100vw;
  height: auto;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #212c3b;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #2f425e;
}

.chooser_container {
  background-color: #d7dbdc;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chooser_container > input {
  width: 400px;
}

.open_chooser {
  margin-right: 20px;
  border: none;
  background: #212c3b;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.open_chooser:hover {
  background: #2f5a9b;
}

.card_gallery {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 6px;
  margin: 10px 5px 10px 5px;
}

.card_gallery img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.button-menu {
  align-self: flex-end;
  position: absolute;
  margin: 10px 10px 10px 10px;
  bottom: 0%;
}

.btn-card {
  background-color: rgba(92, 92, 92, 0.466);
  border: none;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 5px;
}
.btn-card:hover {
  background-color: #00000062;
}
.btn-card:active {
  position: relative;
  top: 1px;
}

.card_container {
  margin-top: 1em;
  background-color: #d7dbdc;
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
}

.gallery {
  margin-top: 1em;
  background-color: #d7dbdc;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gallery_modal {
  transition: all 2s;
  height: 100%;
  background-color: #212c3b;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.modal_image_container {
  background-color: #45566d;
  position: relative;
  width: 90%;
  height: 800px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.modal_image_container > img {
  width: 100%;
  position: relative;
  object-fit: contain;
  border-radius: 6px;
}
