
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #212c3b;
}

header {
  background-color: #cfcfcf;
}

.main-nav {
  height: 90px;
}

.logo {
  color: rgb(78, 78, 78);
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
 
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0 20px;
}

.navlinks li a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  background-color: #aaaaaa;
  padding: 9px 20px;
  border-radius: 50px;
}

.navlinks li a:hover {
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  background-color: #1895c5;
  padding: 9px 20px;
  border-radius: 50px;
}

.menu-btn {
  color: white;
  font-size: 25px;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#isChecked {
  display: none;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #212c3b;
    right: -100%;
     z-index: 9999999;
    transition: all 0.5s;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
    background-color: #9e0d0d00;
    padding: 12px 25px;
  }

  .navlinks li a:hover {
    border-bottom: none;
    background-color: #cfcfcf;
    color: #222831;
  }
  .menu-btn {
    display: block;
    color: #414141;
  }

  #isChecked:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 350px) {
  .logo {
    margin-left: 15px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 15px;
    background-color: #000000;
    font-size: 25px;
  }
}
