$gl-ms: "screen and (max-width: 23.5em)";
$gl-xs: "screen and (max-width: 35.5em)";
$gl-sm: "screen and (max-width: 48em)";
$gl-md: "screen and (max-width: 64em)";
$gl-lg: "screen and (max-width: 80em)";

.row_action {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
}

table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-spacing: 1;
  border-collapse: collapse;
  background: #cfcfcf;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}



.row_actions {
  background-color: #c51843;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  margin-bottom: 0.5em;
  display: flex;
  color: #cecece;
}

.input_search {
  padding: -50px 0;
}

// *  {
//   position: relative;
// }

td,
th {
  padding-left: 8px;
}

th {
  position: sticky;
  top: 0;
}

thead tr {
  height: 60px;
  background: #364861;
  color: #ffffff;
  font-size: 16px;
}

tbody tr {
  font-size: 20px;
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
  &:last-child {
    border: 0;
  }
}

td,
th {
  text-align: left;
  &.l {
    text-align: right;
  }
  &.c {
    text-align: center;
  }
  &.r {
    text-align: center;
  }
}

@media (max-width: 568px) {
  table > *,
  table tr,
  table td,
  table th {
    display: block;
    position: relative;
  }
}

// @media  #{$gl-md} {

//   *{
//     background-color: #c51843;
//   }

// }

// @media  #{$gl-sm} {

//   *{
//     background-color: #18c52f;
//   }

// }

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0;
        }
        tbody button {
          width: 400%;
        }

        table > *,
        table tr,
        table td,
        table th {
          display: block;
          position: relative;
        }

        &:nth-child(1):before {
          content: "CEDULA";
        }
        &:nth-child(2):before {
          content: "NOMBRE";
        }
        &:nth-child(3):before {
          content: "APELLIDO";
        }
        &:nth-child(4):before {
          content: "TELEFONO";
        }
        &:nth-child(5):before {
          content: "EMAIL";
        }
        &:nth-child(6):before {
          content: "ACCIONES";
        }
      }
    }
  }
}

body {
  background: #cecece;
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 15px;
  cursor: pointer;
  margin: 0.2em 0.2em 0.2em 0.2em;
}

.btn_ligth_blur {
  background-color: #364861;
}

.btn_red {
  background-color: #c51843;
}

.btn:hover {
  color: #ffffff;
  background-color: #516581;
}

.table_scroll {
  display: block;
  overflow: auto;
  height: 100px;
  width: 100%;
}

////-----------------------------------
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.input_search > input[type="text"] {
  width: 100%;
  padding: 20px 20px;
  border-radius: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  background-color: #b4b4b4;
}

.input_search > input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
}
