:root {
  --gray-pastel: rgb(209, 209, 209);
  --purple-pastel: rgb(195, 177, 225);
  --ligth-blue: #1894c5;
}

#card-header {
  background-color: rgb(187, 141, 227);
  color: rgb(255, 255, 255);
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
  border: none;
  border-radius: 15px;
}

.navbar{
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.margin {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-left: 1em;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 7px 20px;
  box-sizing: border-box;
  border: 3px solid rgb(153, 153, 153);
  -webkit-transition: 0.5s;
  transition: 0.2s;
  outline: none;
  border-radius: 10px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border: 3px solid#1894c5;
}

label {
  padding-left: 1em;
}

a:link {
  text-decoration: none;
}

span:hover {
  transition: 0.2s;
  font-size: 25px;
}

.panel-footer {
  background-color: rgb(218, 216, 216);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.panel-footer h5 {
  color: rgb(59, 59, 59);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



login-body {
  background-color: rgb(50, 180, 137);
}

.register-body {
  padding-bottom: 3em;
  padding-top: 3em;
}

.login-body {
background-color: var(--purple-pastel);
  padding-bottom: 3em;
  padding-top: 3em;
}

.shadow-top {
    box-shadow: 0 -1px 20px -5px rgba(115,115,115,0.75);
}

.btn-cpurple {
  background-color: var(--purple-pastel);
  color: rgb(0, 0, 0);
  padding: 0.5em;
}

.btn-cpurple:hover {
  background-color: var(--ligth-blue);
  color: rgb(255, 255, 255);
}

.btn-cgray {
  background-color: var(--gray-pastel);
  color: rgb(0, 0, 0);
  padding: 0.5em;
}

.btn-cgray:hover {
  background-color: var(--ligth-blue);
  color: rgb(255, 255, 255);
}